streamlit
langchain
langchain-community
google-generativeai
python-dotenv
huggingface_hub
faiss-cpu
langchain_google_genai
PyPDF2
faiss-cpu
altair
tiktoken
InstructorEmbedding
sentence-transformers
pypdf







